.wrapper
{
    margin: 0 auto;
    width:1230px;
}
footer
{
    width: auto;
    display:flex;
    justify-content: space-around;
    padding: 4% 10% 4% 10%;
    margin-top: 4%;
    background-color: #d8d8d8;
    font-size: 1.2em;
}
footer li
{
    position: relative;
    right: 2.3em;
    list-style-type: none;
    margin-bottom: 5%;
}

