/*LA POLICE DE TEXTE*/

@font-face 
{
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-bold-webfont.woff2') format('woff2'),
         url('font/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CORPS DE LA PAGE  */

body
{
    font-family: 'ralewayregular';
}
#bloc_page
{
    margin:2.5em;
    width:auto;
}


/* HEADER */

header
{
    display: flex;
    justify-content:start ;
    width:100%;
    height:3.5em;
    position:relative;
}
#bloc_logo
{
    flex: 1;
    width: 10em;
    height:3.5em;
}
#logo
{
    position:absolute;
    bottom: 0em;
    top:1.2em;
    width:6em;
}
nav ul
{
    display: flex;
    align-items: flex-end;
    height:3.5em;
    position: relative;
    bottom: 1em;
}
nav li
{   
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:4.35em;
    width:10em;
    list-style-type: none;
    font-size:0.85em;
    padding-left: 1.2em;
    font-weight:550;
}
#s_inscrire
{
    color:#0065FC;
    font-family: 'ralewaybold';
}
nav a:hover
{
    display: flex;
    align-items: flex-end;
    justify-content:center ;
    height:4.35em;
    width: 10em;
    color:#0065FC;
    border-top:0.18em #0065FC solid;
    font-weight: 600;
}
nav a:link
{
    text-decoration:none;
    color: black;
}

/* SECTION_RESEARCH */

#research
{
    width: auto;
    margin-top:3em; 
}
#bloc_titre_research
{
    display:flex;
    flex-direction:column;
    height:5.5em;
}
#h1_research, #hebergement h1, aside h1,#activites h1
{
    font-weight:bolder;
    font-family:'ralewaybold';
    font-size: 1.2em;
    background-color: brown;
    width:auto;
}
.text_rang3
{
    width:auto;
    font-size:0.9em;
    font-weight:normal;
    background-color: cadetblue;
}
#soustext_h1_research
{
    position: relative;
    bottom: 2.9em;
}
#bloc_formulaire
{
    display: flex;
    width:23.5em;
    height:2.5em;
    border-radius: 1em;
    position: relative;
    bottom: 0.5em;
    overflow: hidden;
    background-color: #d8d8d8;
    margin-top:0em;
}
#bloc_formulaire p,label
{
    margin: 0.84em;
}
form
{
    width:100%;
    background-color:#0065FC ;
}
input
{
    position: relative;
    bottom:1em;
    right:0.97em;
    width:16em;
    height:2.98em;
    font-family:'ralewaybold' ;
    font-size: 0.85em;
    padding-left: 0.8em;
    border:none;
}
::-webkit-input-placeholder
{
    color:black;
}
#bloc_formulaire p
{
    width:1em;
}
label
{
    position:absolute;
    bottom:-0.2em;
    right: 0.5em;
    font-size: 0.95em;
    color:white;
}
#logo_form
{
    position: relative;
    left:0.1em;
    bottom:0.1em;
}

/*SECTION_RESEARCH - BLOC_FILTRES*/

#bloc_filtre
{
    display:flex; 
    align-items: center;
    width:57em;
    margin-top:0.5%;
}
#titre_filtre
{
    font-family:'ralewaybold';
}
#bloc_filtre h2 
{
    font-size:0.98em;
    margin-right:0.9em;
}
#icone_eco
{
    position: relative;
    left:0.5em;
    top:0.05em;
    font-size:1.3em;
}
#icone_animaux
{
    position: relative;
    left:0.45em;
    font-size:1.5em;
}
#icone_famillial
{
    position: relative;
    left:0.6em;
    top:0.05em;
    font-size:1.55em;
}
#icone_romantique
{
    position: relative;
    left:0.6em;
    top:0.1em;
    font-size:1.35em;
}
#bloc_eco,#bloc_familly,#bloc_romantique,#bloc_animals
{
    position: relative;
    right:2em;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    border-radius:3em;
    border:#d8d8d8 solid 0.15em;
}
.backg_icone_filtre
{
    position: relative;
    left:0.6em;
    display:flex;
    align-items:center;
    background-color:#DEEBFF;
    width:3.1em;
    height:3.1em;
    margin-left: 0.2em;
    border-radius:50%;
    color:#0065FC;
    z-index:1;
}
#bloc_romantique
{
    width: 9.7em;
}
#bloc_eco
{
    width: 9.9em;
}
#bloc_familly
{
    width: 7.8em;
}
#bloc_animals
{
    width:12.5em;
}

/* SECTION_RESEARCH - INFOS */

#bloc_infos
{
    display:flex;
    align-items: center;
    margin-bottom: 0.5em;
}
#conteneur_logo_infos
{
    margin-right: 0.4em;
    width: 1.5em;
    height:1.5em;
    border-radius: 50%;
    color:#0065FC;
    border: solid #F2F2F2 0.1em; 
}
#logo_infos
{
    position: relative;
    left:0.6em;
    top:0.15em;
    font-size: 0.95em;
}

/*SECTION_HEBERGEMENT_article*/

article
{
    flex:1;
    width:60%;
    border-radius:1.5em;
    background-color:#d8d8d8;
    padding:0.2em 1em 2em 1em;
    margin-right: 3.5%;
}
#bloc_article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
article h1
{
    margin-top: 1.5em;
    padding-left: 1em;
}
#textfin_a
{
    width: 15%;
    font-family: 'ralewaybold' ;
    padding-left: 1em;
    padding-top: 1em;
}
.element_a
{
    width:30%;
    height:12em;
    margin:0.7em;
    border-radius: 1em;
    box-shadow: 0.4em 0.6em 0.6em rgba(22, 22, 22, 0.199);
    background-color:white;
    overflow: hidden;
}
.photo_a
{
    width:auto;
    height:58.7%;
    overflow: hidden;
    border-radius: 0.9em 0.9em 0em 0em;
    margin:1.8% 2% 0% 2%;
    
}
article img
{
    width:102%;
    position:relative;
    bottom: 1em;
    right:0.2em;
    height: auto;

}
#photo_4
{
    position: relative;
    bottom: 3.5em;
}
#photo_5
{
    width: 130%;
}
#photo_6
{
    position: relative;
    bottom: 7.4em;
}
article h2, aside h2
{
    font-size: 0.95em;
    font-family:'ralewaybold' ;
    margin:0em;
    position: relative;
    bottom: 0.5em;
}
.infos_prix
{
    font-size: 0.79em;
    margin-top: 0em;
    position: relative;
    bottom: 0.3em;
}
article ul,aside ul
{
    display:flex;
    justify-content: flex-start;
    list-style-type:none;
    padding-left: 0em;
    margin-top: 0em;
    font-size: 0.8em;
    position: relative;
    bottom: 1em;
    color:#0065FC;
}
.text_photo_a
{
    padding-left:1em;
    padding-top:0.83em;
}
.no_stars
{
    color:#d8d8d8;
}

/*SECTION_HEBERGEMENT - ASIDE*/

aside
{
    width:30%;
    background-color: #d8d8d8;
    border-radius: 1.5em;
    padding:0.8em 1em 1em 1em;
}
#bloc_aside
{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom:0.2em;
}
#titre_aside
{
    display:flex;
    justify-content: space-between;
    padding-right: 1em;
}
aside h1
{
    padding-left:1em;
}
#titre_logo_asd
{
    font-size: 1.2em;
}
.element_asd
{
    display: flex;
    align-items: center;
    width:92%;
    height:8.8em;
    margin:4%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0.4em 0.6em 0.6em rgba(22, 22, 22, 0.199);
    background-color: rgb(255, 255, 255);
}
.photo_asd
{
    width:35%;
    height:93%;
    margin:1.3%;
    border-radius:0.8em 0em 0em 0.8em ;
    overflow: hidden;
}
aside img
{
    width:100%;
    position: relative;
    bottom: 1.2em;
}
#photo_1asd
{
    position: relative;
    right:3em;
    bottom: 0.5em;
    width:180%
}
#photo_2asd
{
    position: relative;
    right:2.3em;
    bottom: 0.4em;
    width:160%
}
.text_photo_asd
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0em 0em 1em;
    height: 8.8em;
}
aside ul
{
    position: relative;
    bottom: -0.7em;
}
aside h2+p
{
    position: relative;
    top:0.3em;
}

/*ARTICLE ET ASIDE EN FLEX*/

#hebergement
{
    display:flex;
    justify-content: space-between;
}

/*SECTION_ACTIVITES*/

#bloc_activites
{
    display: flex;
    width: auto;
    height:28em;
    background-color: darkorange;
    padding: 0em 0.95em 0em 0.95em;
}
#bloc_activites h2
{
    font-size: 1em;
    align-self: flex-start;
    background-color: rgb(221, 37, 37);
}
.bloc_1_et_2
{
    
    display:flex;
    height:100%;
    width:50%;
    background-color: rgb(180, 223, 24);
    margin-bottom:2%;
}
.bloc_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgreen;
    height: 100%;
    width:50%;
}
.bloc_2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: darkmagenta;
}
.bloc_img_tall
{
    width: 90%;
    height: 88%;
    margin-top: 0em;
    overflow: hidden;
    background-color: cyan;
}
#bloc_img_mini_1, #bloc_img_mini_2, #bloc_img_mini_3, #bloc_img_mini_4
{
    width: 90%;
    height:30%;
    overflow: hidden;
    margin-top: 0em;
    background-color: darkblue;
}
