/*LA POLICE DE TEXTE*/

@font-face 
{
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-bold-webfont.woff2') format('woff2'),
         url('font/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CORPS DE LA PAGE  */

body
{
    font-family: 'ralewayregular';
}
#bloc_page
{
    margin:1.5em;
    width:auto;
}


/* HEADER */

header
{
    display: flex;
    justify-content:start ;
    width:100%;
    height:3.5em;
    position:relative;
}
#bloc_logo
{
    flex: 1;
    width: 10em;
    height:3.5em;
}
#logo
{
    position:absolute;
    bottom: 0em;
    top:1.2em;
    width:6em;
}
nav ul
{
    display: flex;
    align-items: flex-end;
    height:3.5em;
    position: relative;
    bottom: 1em;
}
nav li
{   
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:4.35em;
    width:10em;
    list-style-type: none;
    font-size:0.85em;
    padding-left: 1.2em;
    font-weight:550;
}
#s_inscrire
{
    color:#0065FC;
    font-family: 'ralewaybold';
}
nav a:hover
{
    display: flex;
    align-items: flex-end;
    justify-content:center ;
    height:4.35em;
    width: 10em;
    color:#0065FC;
    border-top:0.18em #0065FC solid;
    font-weight: 600;
}
nav a:link
{
    text-decoration:none;
    color: black;
}

/* SECTION_RESEARCH */

#research
{
    margin-top:3em;    
}
#bloc_titre_research
{
    display:flex;
    flex-direction:column;
    height:5.5em;
}
#h1_research, #hebergement h1, aside h1,#activites h1
{
    font-weight:bolder;
    font-family:'ralewaybold';
    font-size: 1.3em;
    background-color: brown;
    width:27em;
}
.text_rang3
{
    width:28em;
    font-size:0.9em;
    font-weight:normal;
    background-color: cadetblue;
}
#soustext_h1_research
{
    position: relative;
    bottom: 2.9em;
}
#bloc_formulaire
{
    display: flex;
    width:23.5em;
    height:2.5em;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
}
#bloc_formulaire p,label
{
    margin: 0.84em;
    
}
form
{
    width:100%;
    background-color:#0065FC ;
}
input
{
    position: relative;
    bottom:1em;
    right:0.97em;
    width:16em;
    height:2.98em;
    font-family:'ralewaybold' ;
    font-size: 0.85em;
    padding-left: 0.8em;
    border:none;
}
::-webkit-input-placeholder
{
    color:black;
}
#bloc_formulaire p
{
    width:1em;
}
label
{
    position:absolute;
    bottom:-0.2em;
    right: 0.5em;
    font-size: 0.95em;
    color:white;
}
#logo_form
{
    position: relative;
    left:0.1em;
    bottom:0.1em;
}

/*SECTION_RESEARCH - BLOC_FILTRES*/

#bloc_filtre
{
    display:flex; 
    align-items: center;
    width:57em;
    margin-top: 1.5em;
    position: relative;
}
#titre_filtre
{
    font-family:'ralewaybold';
}
#bloc_filtre h2 
{
    font-size:0.98em;
    margin-right:0.9em;
}
#icone_eco
{
    position: relative;
    left:0.5em;
    top:0.05em;
    font-size:1.3em;
}
#icone_animaux
{
    position: relative;
    left:0.45em;
    font-size:1.5em;
}
#icone_famillial
{
    position: relative;
    left:0.6em;
    top:0.05em;
    font-size:1.55em;
}
#icone_romantique
{
    position: relative;
    left:0.6em;
    top:0.1em;
    font-size:1.35em;
}
#bloc_eco,#bloc_familly,#bloc_romantique,#bloc_animals
{
    position: relative;
    right:2em;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    border-radius:3em;
    border:#F2F2F2 solid 0.15em;
}
.backg_icone_filtre
{
    position: relative;
    left:0.6em;
    display:flex;
    align-items:center;
    background-color:#DEEBFF;
    width:3.1em;
    height:3.1em;
    margin-left: 0.2em;
    border-radius:50%;
    color:#0065FC;
    z-index:1;
}
#bloc_romantique
{
    width: 9.7em;
}
#bloc_eco
{
    width: 9.9em;
}
#bloc_familly
{
    width: 7.8em;
}
#bloc_animals
{
    width:12.5em;
}

/* SECTION_RESEARCH - INFOS */

#bloc_infos
{
    display:flex;
    align-items: center;
}
#conteneur_logo_infos
{
    margin-right: 0.4em;
    width: 1.5em;
    height:1.5em;
    border-radius: 50%;
    color:#0065FC;
    border: solid #F2F2F2 0.1em; 
}
#logo_infos
{
    position: relative;
    left:0.6em;
    top:0.15em;
    font-size: 0.95em;
}
